[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "optimParallel"]
	path = optimParallel
	url = https://github.com/florafauna/optimparallel-r
	shallow = true
	subdir = optimParallel
	registered = true
[submodule "gapfill"]
	path = gapfill
	url = https://github.com/florafauna/gapfill
	shallow = true
	subdir = gapfill
	registered = true
