[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "optimParallel"]
	path = optimParallel
	url = https://github.com/florafauna/optimparallel-r
	subdir = optimParallel
